.w1 {
  width: 1200px;
  margin: auto;
}

.header {
  margin: 40px 0;
  height: 70px;
  line-height: 70px;
}


.header>ul {
  display: flex;
  justify-content: space-between;
}

.title_check {
  padding: 15px;
  color: #17a4a2;
  border-bottom: 2px solid #17a4a2;
}

.header>ul>li>a {
  width: 120px;
  font-size: 24px;
}

.seo>h1>a {
  display: block;
  width: 174px;
  height: 70px;
  background: url(../img/indexIMG/logo.png);
  text-indent: -999px;
  overflow: hidden;
}


/* banner区域 */
.banner {
  overflow: hidden;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner>img {
  position: absolute;
}

.banner>div {
  position: absolute;
  z-index: 2;
}

.banner>div>h3 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

.banner>div>p {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-top: 2px solid #17a4a2;
  width: 100px;
  margin: 10px auto;
}


/* contact us/联系我们 */

.contactus {
  overflow: hidden;
  margin-top: 100px;
  height: 720px;
}

.contactus_top {
  margin-bottom: 40px;
}

.contactus_top h3 {
  text-align: center;
  font-size: 30px;
}

.contactus_bottom {
  position: relative;
}

.contactus_bottom>img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 680px;
  height: 600px;
}

.contactus_bottom_ds {
  position: absolute;
  z-index: 2;
  top: 155px;
  left: 235px;
  width: 470px;
  height: 470px;
  background-color: #17a4a2;
}

.contactus_bottom_right {
  position: relative;
  z-index: 4;
  top: 60px;
  left: 560px;
}

.contactus_bottom_right>img {
  position: absolute;
}

.contactus_bottom_right_top {
  position: absolute;
  top: 70px;
  left: 70px;
}

.contactus_bottom_right_top h5 {
  color: #fff;
  font-size: 24px;
}

.contactus_bottom_right_bottom {
  position: absolute;
  top: 120px;
  left: 70px;
  color: #fff;
  font-size: 18px;
}

.contactus_bottom_right_bottom ul li {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #fff;
}



/* floor底部 */
.w2 {
  width: 1200px;
  margin: auto;
  position: relative;
  z-index: 4;
}

.floor {
  margin-top: 100px;
  height: 540px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.floor>img {
  position: absolute;
  z-index: 2;
}

.floor_top_and_bottom {
  /* width: 1200px; */
  margin: auto;
  position: absolute;
  z-index: 5;
}

.floor_top {
  height: 300px;
  padding: 0 100px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.floorl {
  /* width: 100px; */
  height: 265px;
}

.floorl>h5 {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.floorl>ul {
  margin-top: 40px;
}

.floorl>ul>li {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.floor_bottom {
  margin-top: 40px;

  padding: 0 100px;
}

.floor_bottom>p {
  text-align: center;
  color: #fff;
  line-height: 40px;
}